<form id="myform" action="http://127.0.0.1:8080/api/v1/mars-rover-photos" method="get">
	<div>
		Earth Date:
		<input type="date" id="date" name="earth_date" value="{{.Date}}">
		Camera:
		<select name="camera" id="camera">
			{{range .Cameras}}
				{{if eq $.Camera .Name}}
					<option value="{{.Name}}" selected>{{.FullName}}</option>
				{{else}}
					<option value="{{.Name}}">{{.FullName}}</option>
				{{end}}
			{{end}}
		</select>
	</div>
	<div>
		<input type="submit" value="Get Photos"/>
	</div>
</form>
